<!DOCTYPE html>
<html>
<head>
    <title>Мой проект</title>
</head>
<body>
    <h1>Домашняя страница</h1>
    <p>Привет, мир!</p>

    <h2>Меню</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
